---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Billetterie" class="font-mono">
  <section id="billetterie" class="py-16 bg-white text-[#333]">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl md:text-6xl font-bold text-center mb-8 font-amatic">Billetterie</h2>
      <p class="max-w-xl mx-auto text-center mb-12">
        Réservez vos places dès maintenant pour profiter pleinement du Festival CinéMatsuri !
      </p>

      <!-- Grille de tarifs -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        
        <!-- Carte : Matsuri Pass -->
        <div class="bg-[#333] text-white rounded-md shadow-lg p-8 flex flex-col items-center">
          <h3 class="text-4xl font-bold mb-2 font-amatic">Matsuri Pass</h3>
          <p class="text-4xl font-extrabold">€15</p>
          <span class="block text-sm mb-4">/ pers</span>
          <a href="/thx">
          <button class="bg-[#FFD700] text-[#333] px-6 py-3 rounded-md font-semibold hover:bg-yellow-400 transition-colors">
            Acheter
          </button>
        </a>
        </div>

        <!-- Carte : MatsuKID -->
        <div class="bg-[#333] text-white rounded-md shadow-lg p-8 flex flex-col items-center">
          <h3 class="text-4xl font-bold mb-2 font-amatic">MatsuKID</h3>
          <p class="text-4xl font-extrabold">€8</p>
          <span class="block text-sm">Enfants</span>
          <p class="text-sm mb-4">Condition : enfant -12 ans</p>
          <a href="/thx">
          <button class="bg-[#FFD700] text-[#333] px-6 py-3 rounded-md font-semibold hover:bg-yellow-400 transition-colors">
            Acheter
          </button>
        </a>
        </div>

      </div>
    </div>
  </section>
</Layout>
